<nav class="navbar navbar-fixed-top navbar-default" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#response-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="response-menu">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/registration">Registration</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>Current date: {{ dateIterator | date:'mediumTime' }}</li>
      </ul>

    </div>
  </div>
</nav>
